<h1>My Journal</h1>

<form [formGroup]="journalForm" (ngSubmit)="onSubmit()">

    <label>
        Note
        <textarea formControlName="note"></textarea>
    </label>

    <label>
        Mood
        <select formControlName="mood">
            @for (mood of moods; track mood){
            <option [value]="mood">{{ moodEmoji[mood] }} {{ mood }}</option>
            }
        </select>
    </label>
    <br>
    <button type="submit" [disabled]="journalForm.invalid">Add entry</button>
</form>

<button type="button" (click)="toggleStats()">
   {{ showStatistics() ? 'Back to journal' : 'Show statistics' }}</button>

@if (createPostFailedMsg()) {
<p class="errorMsg">{{ createPostFailedMsg() }}</p>
}

@if (createPostSuccessMsg()) {
<p class="successMsg"> {{ createPostSuccessMsg() }}</p>
}

@if (showStatistics()) {

<div class="statsDiv">
    <form [formGroup]="filterStatsForm" (ngSubmit)="onStatsSubmit()">

        <h2>Sort by:</h2>
        <br>

        <label>From
            <input formControlName="startDate" type="date">
        </label>

        <label>To
            <input formControlName="endDate" type="date">
        </label>
        <button type="submit" [disabled]="filterStatsForm.invalid">Update</button>
    </form>

    @if (statistics(); as stats) {

        Total entries: {{ stats.totalPosts }}

        @for (stat of stats.moodStats; track stat.mood) {

            <p>{{ moodEmoji[stat.mood] }} {{stat.mood }}: {{ stat.percentage | number: '1.0-0' }}% ({{ stat.count }}) </p>
        }


    }

</div>    


}


    @if (!showStatistics()) {


        @for (post of posts(); track post.id) {
        
        <div class="postEntries">
        
            <p> {{ moodEmoji[post.mood] }} {{ post.note }}</p>
            <p>{{ post.createdAt | date: "d MMMM y 'at' HH:mm" : undefined : 'en'}}</p>
        
        </div>
        } @empty {
        
        <p>No entries have been made yet.</p>
    
    
    
    }

    }

