<h1>Create account</h1>

<form [formGroup]="regForm" (ngSubmit)="onSubmit()">

  <label>
    Username
    <input formControlName="username" type="text" />
  </label>

  <label>
    Password
    <input formControlName="password" type="password" />
  </label>

  <button type="submit" [disabled]="regForm.invalid">Register</button>

  <button type="button" (click)="cancel()">Cancel</button>
</form>

@if (registerSuccessMsg()) {
  <p class="successMsg">{{ registerSuccessMsg() }}</p>
}

@if (registerFailedMsg()) {
  <p class="errorMsg">{{ registerFailedMsg() }}</p>
}
